* { margin:0; padding:0; box-sizing:border-box; }
body {
  font-family: "Poppins", sans-serif;
  background:#000;
  color:#fff;
}

/* -------- HEADER -------- */
.site-header {
  position:fixed;
  top:0; left:0; right:0;
  height:110px;
  display:flex;
  align-items:center;
  z-index:999;
  background:transparent;
}

.container {
  width:90%;
  max-width:1300px;
  margin:0 auto;
}

.header-inner {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo img {
    height: 100px; 
    width: auto;
}

/* NAV */
.main-nav ul {
  display:flex;
  gap:24px;
  list-style:none;
}

.main-nav a {
  text-decoration:none;
  color:#fff;
  font-size:13px;
  letter-spacing:1px;
  text-transform:uppercase;
}

/* -------- HERO -------- */
.hero {
  position:relative;
  min-height:100vh;
  background:url("imgs/fondo6.png") center / cover no-repeat fixed;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:150px 20px 80px;
}


.hero::after {
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.25); 
  z-index:1;
}

.hero-content {
  position:relative;
  z-index:2;
}

.hero-meta {
  font-size:12px;
  letter-spacing:3px;
  margin-bottom:20px;
  opacity:.9;
}

/* TITULO */
.hero-title {
  font-family:"Montserrat", sans-serif;
  font-size:80px;
  line-height:0.9;
  font-weight:900;
  text-transform:uppercase;
  margin-bottom:20px;
}

/* Animación vertical (estilo Alison) */
.rotating {
  display:inline-block;
  transition: transform .6s ease, opacity .6s ease;
  will-change: transform, opacity;
}

.hero-sub {
  font-size:15px;
  opacity:.85;
  margin-bottom:30px;
}

/* Redes */
.hero-social {
  display:flex;
  justify-content:center;
  gap:15px;
}

.hero-social a {
  color:#fff;
  font-size:15px;
  opacity:.8;
}

.hero-social a:hover { opacity:1; }

/* Scroll indicator */
.scroll-indicator {
  position:absolute;
  bottom:25px;
  left:50%;
  transform:translateX(-50%);
  text-decoration:none;
  color:#fff;
  font-size:12px;
  letter-spacing:2px;
  opacity:.9;
  z-index:3;
}

.scroll-indicator i {
  display:block;
  margin-top:6px;
  font-size:14px;
  animation:bounce 1.6s infinite;
}

@keyframes bounce {
  0%,100% { transform:translateY(0); }
  50% { transform:translateY(6px); }
}

/* -------- Responsive -------- */
@media (max-width:900px){
  .hero-title { font-size:50px; }
  .main-nav ul { gap:12px; }
}

@media (max-width:600px){
  .hero-title { font-size:36px; }
  .main-nav ul { display:none; } /* Aquí luego agregamos menú hamburguesa */
}
